body {
  background-color: rgb(255, 255, 255);
  font-family: "Montserrat", Helvetica, sans-serif;
  text-align: center;
  font-size: 1vw;
  margin: 0;
}

select {
  font-family: "Montserrat", Helvetica, sans-serif;
}

#title-name {
  font-family: "Raleway";
  font-weight: bolder;
  font-size: 2vw;
  text-align: left;
  margin: 0.5em 0em 0em 0.5em;
}

h2 {
  font-weight:bold;
  font-size: 1.25vw;
  text-align: left;
  margin: 0.5em 0em 0em 1em;
}

#request-box,
#demo,
#request-object,
#send-object,
#delete-object,
#project-container {
  display: inline-block;
}

#description-container {
  width: 30%;
  display: inline-block;
}

#render-object {
  margin: auto;
  width: 85%;
  border: 3px solid rgb(166, 166, 166);
  background: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 10px;
}

embed {
  height: 80%;
  width: 80%;
}

footer {
  background-color: black;
  color: white;
  width: 100%;
  justify-content: center;
  position: absolute;
  bottom: 0;
}

#tech-tag-container {
  text-align: left;
}

#tech-tag {
  background-color: black;
  color: white;
  display: inline-block;
  margin: 1px;
}