body {
  background-color: rgb(255, 255, 255);
  font-family: "Montserrat", Helvetica, sans-serif;
  text-align: center;
  font-size: 1vw;
  margin: 0;
  overflow: visible;
}

select {
  font-family: "Montserrat", Helvetica, sans-serif;
}

#title-name {
  font-family: "Raleway";
  font-weight: bolder;
  font-size: 2vw;
  text-align: left;
  margin: 0.5em 0em 0em 0.5em;
}

h2 {
  font-weight: bold;
  font-size: 1.25vw;
  text-align: left;
  margin: 0.5em 0em 0em 1em;
}

#request-box,
#demo,
#request-object,
#send-object,
#delete-object,
#project-container {
  display: inline-block;
}

#welcome,
#welcome-2 {
  max-width: 500px;
  margin: auto;
  margin-bottom: 5px;
}

#render-object {
  margin: auto;
  padding: 10px;
}

embed {
  height: 80%;
  width: 80%;
}

#projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Create three equal columns */
  gap: 10px; /* Adjust the gap between items as needed */
  border: 3px solid rgb(166, 166, 166);
  margin-bottom: 50px;
}

#projects h1 {
  margin-bottom: 0;
  margin-top: 40px;
  padding-bottom: 25px;
}

#projects a {
  margin: 25px 5px 25px 5px;
  display: inline;
}

#description-container {
  width: 500px;
  display: inline-block;
  padding-top: 10%;
}

#tech-tag {
  background-color: black;
  color: white;
  display: inline-block;
  margin: 0px 3px 20px 3px;
  padding: 5px 12px 5px 12px;
  border-radius: 12px;
}

.photo {
  max-width: 200px;
  max-height: 200px;
}

h3{
  display: inline-block;
}

footer {
  background-color: #333;
  color: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 50px;
}

